
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InnoventoryMaster</title>

    @Styles.Render("~/Content/themes/css")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")


    @*<link rel="SHORTCUT ICON" href="@Url.Content("~/Content/SiteIcon.ico")" />*@
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body ng-app="mainApp">
    <header class="jumbotron hidden-sm hidden-xs">

        <a href="/" class="title hidden-sm hidden-xs">
            <img src="~/Images/StellaTitle.png" />
        </a>

        <section class="right-content">
            @*<article id="account">

                @Html.ActionLink("Contact Us", "ContactUs", new { action = "ContactUs", controller = "home" })

            </article>
            <br />*@


        </section>
    </header>

    <div>

        @RenderBody()

    </div>

    <script type="text/javascript">

        window.Innoventory = {};
        (function (inv) {
            var rootPath;
            inv.rootPath = rootPath;

            var appConfig;

            inv.appConfig = appConfig;

        })(window.Innoventory)

        Innoventory.rootPath = '@Url.Content("~")';
        Innoventory.appConfig = {
            apiUrl: "http://localhost/api/",
            imageHost: "TBD"
        };


    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", false)

    <script src="~/custom-scripts/shared/innoventory-directives.js"></script>

    @Scripts.Render("~/bundles/shared-scripts")

    <script type="text/javascript">
        @RenderSection("footerScript", false)
    </script>



</body>
</html>
